.chatBox{
    padding-top: 1rem;
}
.chat-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.user-details{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.user-name {
    color: white;
    padding-left: 4rem;
}
